# Visual Studio 관련
Warming_up/.vs/
Warming_up/.vscode/

Main/.vs/
Main/.vscode/

DX11/.vs/
DX11/.vscode/

Warming_up/Binaries/
Warming_up/Intermediate/

Main/Binaries/
Main/Intermediate/

DX11/Binaries/
DX11/Intermediate/